@model App.Domain.Core.Home.DTO.UpdatePasswordDto

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card custom-card">
                <div class="card-header text-center">
                    <h4 class="text-danger">تغییر رمز عبور</h4>
                </div>
                <div class="card-body">
                    <form asp-action="UpdatePassword" method="post">
                        <div class="form-group">
                            <label for="cur-password" class="text-dark">رمز عبور فعلی*</label>
                            <input type="password" id="cur-password" name="CurrentPassword" class="form-control form-control-md" placeholder="رمز عبور فعلی">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="new-password" class="text-dark">رمز عبور جدید*</label>
                            <input type="password" id="new-password" name="NewPassword" class="form-control form-control-md" placeholder="رمز عبور جدید">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="conf-password" class="text-dark">تایید رمز عبور*</label>
                            <input type="password" id="conf-password" name="ConfirmPassword" class="form-control form-control-md" placeholder="تایید رمز عبور">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-danger btn-lg btn-block">به روزرسانی رمز عبور</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .custom-card {
        background-color: #f8f9fa;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #f8f9fa;
        border-bottom: none;
    }

    .form-control-md {
        border-radius: 10px;
    }

    .btn-danger {
        background-color: rgba(220, 53, 69, 0.5);
        border: none;
        border-radius: 25px;
        color: white;
        transition: background-color 0.3s ease;
    }

        .btn-danger:hover {
            background-color: rgba(220, 53, 69, 0.7);
        }

    .container {
        margin-top: 50px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .text-danger {
        color: #dc3545;
    }
</style>
