@model string

@{
    ViewBag.Title = "عملیات با موفقیت انجام شد";
}

<div class="success-box">
    <h2 class="success-title">@ViewBag.Title</h2>
    <p class="success-message">@Model</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">بازگشت به صفحه اصلی</a>
</div>

<style>
    .success-box {
        border: 2px solid #f8d7da; 
        background-color: #f8d7da; 
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .success-title {
        color: #28a745; 
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .success-message {
        font-size: 1.1em;
        color: #155724; 
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #721c24;
        border-color: #721c24;
    }

        .btn-primary:hover {
            background-color: #721c24;
            border-color: #721c24;
        }
</style>
