@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>وولمارت - قدرتمند ترین قالب چند منظوره فروشگاهی html</title>

    <meta name="keywords" content="Marketplace ecommerce responsive HTML5 Template" />
    <meta name="description" content="Wolmart is powerful marketplace &amp; ecommerce responsive Html5 Template.">
    <meta name="author" content="D-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/asset/assets/images//favicon.png">

    <!-- WebFont.js -->
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700'] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[0];
            wf.src = '~/asset/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <link rel="preload" href="~/asset/assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="~/asset/assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="~/asset/assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="~/asset/assets/fonts/wolmart87d5.woff?png09e" as="font" type="font/woff" crossorigin="anonymous">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="~/asset/assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/asset/assets/vendor/swiper/swiper-bundle.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="~/asset/assets/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="~/asset/assets/css/style-rtl.min.css">
</head>

<body class="my-account">
    <div class="page-wrapper">
        <!-- Start of Header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <p class="welcome-msg">پیام فروشگاه لغو کنید. به فروشگاه ما خوش آمدید!</p>
                    </div>
                    <div class="header-right">
                        <span class="divider d-lg-show"></span>
                        <a href="blog.html" class="d-lg-show">بلاگ </a>
                        <a href="contact-us.html" class="d-lg-show">تماس با ما </a>
                        <a href="my-account.html" class="d-lg-show">حساب من </a>
                        <a href="~/asset/assets/ajax/login.html" class="d-lg-show login sign-in">
                            <i class="w-icon-account"></i>ورود
                        </a>
                        <span class="delimiter d-lg-show">/</span>
                        <a href="~/asset/assets/ajax/login.html" class="ml-0 d-lg-show login register">ثبت نام </a>
                    </div>
                </div>
            </div>
            <!-- End of Header Top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left mr-md-4">
                        <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                        </a>
                        <a href="demo1.html" class="logo ml-lg-0">
                            <img src="~/asset/assets/images/HUK.png" alt="logo" width="144" height="45" />
                        </a>
                        <form method="get" action="#" class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                            <div class="select-box">
                                <select id="category" name="category">
                                    <option value="">دسته بندیها </option>
                                    <option value="4">مدل </option>
                                    <option value="5">مبلمان </option>
                                    <option value="6">کفش </option>
                                    <option value="7">ورزشی </option>
                                    <option value="8">بازی </option>
                                    <option value="9">کامپیوتر </option>
                                    <option value="10">الکترونیکی </option>
                                    <option value="11">آشپرخانه </option>
                                    <option value="12">لباس </option>
                                </select>
                            </div>
                            <input type="text" class="form-control" name="search" id="search"
                                   placeholder="جستجو کنید ..." required />
                            <button class="btn btn-search" type="submit">
                                <i class="w-icon-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="header-right ml-4">
                        <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                            <div class="cart-overlay"></div>
                            <a href="#" class="cart-toggle label-down link">
                                <i class="w-icon-cart">
                                    <span class="cart-count">2</span>
                                </i>
                                <span class="cart-label">سبد </span>
                            </a>
                            <div class="dropdown-box">
                                <div class="cart-header">
                                    <span>سبد خرید </span>
                                    <a href="#" class="btn-close">بستن <i class="w-icon-long-arrow-left"></i></a>
                                </div>

                                <div class="products">
                                    <div class="product product-cart">
                                        <div class="product-detail">
                                            <a href="product-default.html" class="product-name">الیس بافتنی بژ<br>کفش دونده تیک</a>
                                            <div class="price-box">
                                                <span class="product-quantity">1</span>
                                                <span class="product-price">25600 تومان</span>
                                            </div>
                                        </div>
                                        <figure class="product-media">
                                            <a href="product-default.html">
                                                <img src="~/asset/assets/images/cart/product-1.jpg" alt="product" height="84"
                                                     width="94" />
                                            </a>
                                        </figure>
                                        <button class="btn btn-link btn-close" aria-label="button">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>

                                    <div class="product product-cart">
                                        <div class="product-detail">
                                            <a href="product-default.html" class="product-name">پینا کاربردی آبی<br>لباس جین جلویی پینا</a>
                                            <div class="price-box">
                                                <span class="product-quantity">1</span>
                                                <span class="product-price">32000 تومان</span>
                                            </div>
                                        </div>
                                        <figure class="product-media">
                                            <a href="product-default.html">
                                                <img src="~/asset/assets/images/cart/product-2.jpg" alt="product" width="84"
                                                     height="94" />
                                            </a>
                                        </figure>
                                        <button class="btn btn-link btn-close" aria-label="button">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="cart-total">
                                    <label>مجموع: </label>
                                    <span class="price">58000 تومان</span>
                                </div>

                                <div class="cart-action">
                                    <a href="cart.html" class="btn btn-dark btn-outline btn-rounded">سبد خرید </a>
                                    <a href="checkout.html" class="btn btn-primary  btn-rounded">پرداخت </a>
                                </div>
                            </div>
                            <!-- End of Dropdown Box -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Header Middle -->

            <div class="header-bottom sticky-content fix-top sticky-header">
                <div class="container">
                    <div class="inner-wrap">
                        <div class="header-left">
                            <div class="dropdown category-dropdown has-border" data-visible="true">
                                <a href="#" class="category-toggle" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="true" data-display="static"
                                   title="کاوش دسته بندیها ">
                                    <i class="w-icon-category"></i>
                                    <span>کاوش دسته بندیها </span>
                                </a>

                                <div class="dropdown-box">
                                    <ul class="menu vertical-menu category-menu">
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-tshirt2"></i>مدل
                                            </a>
                                           
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-home"></i>خانه و باغ
                                            </a>
                                            
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-electronics"></i>الکترونیک
                                            </a>
                                            
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-furniture"></i> مبلمان
                                            </a>
                                          
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-heartbeat"></i>سلامت و زیبایی
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-gift"></i>ایده های هدیه
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-gamepad"></i>اسباب بازی و بازی
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-ice-cream"></i>آشپزی
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-ios"></i>گوشی های هوشمند
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-camera"></i>دوربین و عکس
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <i class="w-icon-ruby"></i>تجهیزات جانبی
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <nav class="main-nav">
                                <ul class="menu active-underline">
                                    <li>
                                        <a href="demo1.html">خانه </a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of Header -->
        <!-- Start of Main -->





        <main class="main">
            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="demo1.html">خانه </a></li>
                        <li>حساب کاربری</li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->
            <!-- Start of PageContent -->
            <div class="page-content pt-2">
                <div class="container">
                    <div class="tab tab-vertical row gutter-lg">
                        <ul class="nav nav-tabs mb-6" role="tablist">
                            <li class="nav-item">
                                <a href="#account-dashboard" class="nav-link active">داشبرد</a>
                            </li>
                            <li class="nav-item">
                                <a href="#account-orders" class="nav-link">سفارشات </a>
                            </li>
                            <li class="nav-item">
                                <a href="#account-details" class="nav-link">جزئیات حساب </a>
                            </li>
                            <li class="link-item">
                                <a href="login.html">خروج </a>
                            </li>
                        </ul>

                        <div class="tab-content mb-6">
                            <div class="tab-pane active in" id="account-dashboard">
                               

                                <p class="mb-4">
                                    از داشبورد حساب خود می توانید خود را مشاهده کنید <a href="#account-orders"
                                                                                        class="text-primary link-to-tab">سفارشات اخیر </a>,
                                      و
                                    <a href="#account-details" class="text-primary link-to-tab">رمز عبور و جزئیات حساب خود را ویرایش کنید.</a>
                                </p>

                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                        <a href="#account-orders" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-orders">
                                                    <i class="w-icon-orders"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">سفارشات </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>


                                    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                        <a href="#account-details" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-account">
                                                    <i class="w-icon-user"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">جزئیات حساب </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                        <a href="#">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-logout">
                                                    <i class="w-icon-logout"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">خروج </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane mb-4" id="account-orders">
                                <div class="icon-box icon-box-side icon-box-light">
                                    <span class="icon-box-icon icon-orders">
                                        <i class="w-icon-orders"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title text-capitalize ls-normal mb-0">سفارشات </h4>
                                    </div>
                                </div>

                                <table class="shop-table account-orders-table mb-6">
                                    <thead>
                                        <tr>
                                            <th class="order-id">شناسه </th>
                                            <th class="order-id">سرویس </th>
                                            <th class="order-date"> تاریخ ثبت</th>
                                            <th class="order-status">وضعیت </th>
                                            <th class="order-total">جزییات سفارش</th>
                                            <th class="order-actions">وضعیت پیشنهاد </th>
                                            <th class="order-actions">پیشنهاد ها </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="order-id">1</td>
                                            <td class="order-id">بنایی</td>
                                            <td class="order-date">1403/12/3</td>
                                            <td class="order-status">در حال بررسی </td>
                                            <td class="order-action">
                                                <a href="#"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded">جزییات </a>
                                            </td>
                                            <td class="order-status">تایید شده </td>
                                            <td class="order-action">
                                                <a href="#"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded">نمایش </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-id">2</td>
                                            <td class="order-id">بنایی</td>
                                            <td class="order-date">1403/12/3</td>
                                            <td class="order-status">در حال بررسی </td>
                                            <td class="order-action">
                                                <a href="#"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded">جزییات </a>
                                            </td>
                                            <td class="order-status">تایید شده </td>
                                            <td class="order-action">
                                                <a href="@Url.Action("listOrders", "Home")"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded">نمایش</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-id">3</td>
                                            <td class="order-id">بنایی</td>
                                            <td class="order-date">1403/12/3</td>
                                            <td class="order-status">در حال بررسی </td>
                                            <td class="order-action">
                                                <a href="#"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded">جزییات </a>
                                            </td>
                                            <td class="order-status">تایید شده </td>
                                            <td class="order-action">
                                                <a href="#"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded">نمایش </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-id">4</td>
                                            <td class="order-id">بنایی</td>
                                            <td class="order-date">1403/12/3</td>
                                            <td class="order-status">در حال بررسی </td>
                                            <td class="order-action">
                                                <a href="#"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded">جزییات </a>
                                            </td>
                                            <td class="order-status">تایید شده </td>
                                            <td class="order-action">
                                                <a href="#"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded">نمایش </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <a href="shop-banner-sidebar.html" class="btn btn-dark btn-rounded btn-icon-right">برو خانه <i class="w-icon-long-arrow-left"></i></a>
                            </div>
                            <div class="tab-pane" id="account-details">
                                <div class="icon-box icon-box-side icon-box-light">
                                    <span class="icon-box-icon icon-account mr-2">
                                        <img src="https://via.placeholder.com/150" alt="Profile Picture" id="profile-img" class="w-100 rounded">
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title mb-0 ls-normal">جزئیات حساب</h4>
                                        <p>برای تغییر تصویر پروفایل خود از اینجا اقدام کنید.</p>
                                    </div>
                                </div>
                                <form class="form account-details-form" action="#" method="post">
                                    <div class="form-group mb-3">
                                        <label>تصویر پروفایل</label>
                                        <img src="https://via.placeholder.com/150" alt="Profile Picture" class="w-100 rounded">
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>نام و نام خانوادگی</label>
                                        <p>حسین یوسفی</p>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>بالانس حساب</label>
                                        <p class="text-success" style="background: rgba(144, 238, 144, 0.3);">500,000 تومان</p>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>آدرس محل سکونت</label>
                                        <p>تهران، خیابان ولیعصر</p>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>شماره کارت بانکی</label>
                                        <p>1234 5678 9012 3456</p>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>شماره شبا</label>
                                        <p>IR1234567890123456789012345678901</p>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>توضیحات (اسم شهر)</label>
                                        <p>تهران</p>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>وضعیت حساب</label>
                                        <p class="text-success">فعال</p> 
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-warning">تغییر ایمیل</button>
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-warning">تغییر پسورد</button>
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-info btn-rounded">ویرایش جزییات</button>
                                    </div>

                                    <button type="submit" class="btn btn-dark btn-rounded btn-sm mb-4">ذخیره تغییرات</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->
        <!-- Start of Footer -->





        <footer class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget widget-about">
                                <a href="demo1.html" class="logo-footer">
                                    <img src="~/asset/assets/images/HUK.png" alt="logo-footer" width="144"
                                         height="45" />
                                </a>
                                <div class="widget-body">
                                    <p class="widget-about-title">سوالی دارید؟ تماس بگیرید</p>
                                    <a href="tel:9197274923" class="widget-about-call">+98 919 727 4923</a>
                                    <p class="widget-about-desc">
                                        برای دریافت بروز رسانی با ما هماهنگ شوید.
                                    </p>

                                    <div class="social-icons social-icons-colored">
                                        <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                        <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                        <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                        <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                        <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h3 class="widget-title">کمپانی </h3>
                                <ul class="widget-body">
                                    <li><a href="about-us.html">درباره ما </a></li>
                                    <li><a href="#">اعضای تیم </a></li>
                                    <li><a href="#">شغل </a></li>
                                    <li><a href="contact-us.html">تماس با ما </a></li>
                                    <li><a href="#">وابسته </a></li>
                                    <li><a href="#">تاریخچه سفارش ها </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">حساب کاربری </h4>
                                <ul class="widget-body">
                                    <li><a href="#">پیگیر سفارشات من </a></li>
                                    <li><a href="cart.html">سبد خرید </a></li>
                                    <li><a href="login.html">ورود </a></li>
                                    <li><a href="#">راهنما </a></li>
                                    <li><a href="wishlist.html">علاقه مندیهای من  </a></li>
                                    <li><a href="#">سیاست حفظ حریم خصوصی </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">خدمات مشتری </h4>
                                <ul class="widget-body">
                                    <li><a href="#">روش های پرداخت </a></li>
                                    <li><a href="#">تضمین بازگشت پول! </a></li>
                                    <li><a href="#">محصول بازگشتی </a></li>
                                    <li><a href="#">مرکز پشتیبانی </a></li>
                                    <li><a href="#">حمل دریایی </a></li>
                                    <li><a href="#">مدت و شرایط</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-left">
                        <p class="copyright">کپی رایت © 1401 فروشگاه وولمارت. تمامی حقوق محفوظ است..</p>
                    </div>
                    <div class="footer-right">
                        <span class="payment-label mr-lg-8">ما از پرداخت مطمئن استفاده می کنیم</span>
                        <figure class="payment">
                            <img src="~/asset/assets/images/payment.png" alt="payment" width="159" height="25" />
                        </figure>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Start of Sticky Footer -->
    <div class="sticky-footer sticky-content fix-bottom">
        <a href="demo1.html" class="sticky-link active">
            <i class="w-icon-home"></i>
            <p>خانه</p>
        </a>
        <a href="shop-banner-sidebar.html" class="sticky-link">
            <i class="w-icon-category"></i>
            <p>فروشگاه </p>
        </a>
        <a href="my-account.html" class="sticky-link">
            <i class="w-icon-account"></i>
            <p>حساب کاربری </p>
        </a>
        <div class="cart-dropdown dir-up">
            <a href="cart.html" class="sticky-link">
                <i class="w-icon-cart"></i>
                <p>سبد خرید </p>
            </a>
            <div class="dropdown-box">
                <div class="products">
                    <div class="product product-cart">
                        <div class="product-detail">
                            <h3 class="product-name">
                                <a href="product-default.html">ما از پرداخت مطمئن استفاده می کنیم<br>کفش دونده تیک</a>
                            </h3>
                            <div class="price-box">
                                <span class="product-quantity">1</span>
                                <span class="product-price">25600 تومان</span>
                            </div>
                        </div>
                        <figure class="product-media">
                            <a href="#">
                                <img src="~/asset/assets/images/cart/product-1.jpg" alt="product" height="84"
                                     width="94" />
                            </a>
                        </figure>
                        <button class="btn btn-link btn-close" aria-label="button">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="product product-cart">
                        <div class="product-detail">
                            <h3 class="product-name">
                                <a href="#">پینا کاربردی آبی<br>لباس جین جلو</a>
                            </h3>
                            <div class="price-box">
                                <span class="product-quantity">1</span>
                                <span class="product-price">32000 تومان</span>
                            </div>
                        </div>
                        <figure class="product-media">
                            <a href="#">
                                <img src="~/asset/assets/images/cart/product-2.jpg" alt="product" width="84"
                                     height="94" />
                            </a>
                        </figure>
                        <button class="btn btn-link btn-close" aria-label="button">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="cart-total">
                    <label>مجموع: </label>
                    <span class="price">58000 تومان</span>
                </div>

                <div class="cart-action">
                    <a href="cart.html" class="btn btn-dark btn-outline btn-rounded">سبد خرید </a>
                    <a href="checkout.html" class="btn btn-primary  btn-rounded">پرداخت </a>
                </div>
            </div>
            <!-- End of Dropdown Box -->
        </div>

        <div class="header-search hs-toggle dir-up">
            <a href="#" class="search-toggle sticky-link">
                <i class="w-icon-search"></i>
                <p>جستجو </p>
            </a>
            <form action="#" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off"
                       placeholder="جستجو" required />
                <button class="btn btn-search" type="submit">
                    <i class="w-icon-search"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- End of Sticky Footer -->
    <!-- Start of Scroll Top -->
    <a id="scroll-top" class="scroll-top" href="#top" title="بالا" role="button"> <i class="w-icon-angle-up"></i> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70"> <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35" r="34" style="stroke-dasharray: 16.4198, 400;"></circle> </svg> </a>
    <!-- End of Scroll Top -->
    <!-- Start of Mobile Menu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay"></div>
        <!-- End of .mobile-menu-overlay -->

        <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
        <!-- End of .mobile-menu-close -->

        <div class="mobile-menu-container scrollable">
            <form action="#" method="get" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off"
                       placeholder="جستجو" required />
                <button class="btn btn-search" type="submit">
                    <i class="w-icon-search"></i>
                </button>
            </form>
            <!-- End of Search Form -->
            <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#main-menu" class="nav-link active">منوی اصلی </a>
                    </li>
                    <li class="nav-item">
                        <a href="#categories" class="nav-link">دسته بندیها </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="main-menu">
                    <ul class="mobile-menu">
                        <li><a href="demo1.html">خانه </a></li>
                        <li>
                            <a href="shop-banner-sidebar.html">فروشگاه </a>
                            <ul>
                                <li>
                                    <a href="#">صفحات فروشگاه </a>
                                    <ul>
                                        <li><a href="shop-banner-sidebar.html">بنر با نوار کناری</a></li>
                                        <li><a href="shop-boxed-banner.html">بنر باکسی </a></li>
                                        <li><a href="shop-fullwidth-banner.html">بنر تمام عرض </a></li>
                                        <li><a href="shop-horizontal-filter.html">فیلتر افقی <span class="tip tip-hot">داغ </span></a></li>
                                        <li><a href="shop-off-canvas.html">بدون نوار کناری <span class="tip tip-new">جدید </span></a></li>
                                        <li><a href="shop-infinite-scroll.html"> اسکرول بی نهایت آژاکس</a></li>
                                        <li><a href="shop-right-sidebar.html">سایدبار چپ </a></li>
                                        <li><a href="shop-both-sidebar.html">هر دو نوار کناری </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">چیدمان فروشگاه </a>
                                    <ul>
                                        <li><a href="shop-grid-3cols.html">3 حالت ستون ها </a></li>
                                        <li><a href="shop-grid-4cols.html">4 حالت ستون ها </a></li>
                                        <li><a href="shop-grid-5cols.html">5 حالت ستون ها </a></li>
                                        <li><a href="shop-grid-6cols.html">6 حالت ستون ها </a></li>
                                        <li><a href="shop-grid-7cols.html">7 حالت ستون ها </a></li>
                                        <li><a href="shop-grid-8cols.html">8 حالت ستون ها </a></li>
                                        <li><a href="shop-list.html">حالت فهرست</a></li>
                                        <li><a href="shop-list-sidebar.html">حالت فهرست با نوار کناری</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">صفحات محصول  </a>
                                    <ul>
                                        <li><a href="product-variable.html">محصول متغیر </a></li>
                                        <li><a href="product-featured.html">ویژه و جذاب </a></li>
                                        <li><a href="product-accordion.html">داده ها در آکاردئون</a></li>
                                        <li><a href="product-section.html">داده ها در بخش ها </a></li>
                                        <li><a href="product-swatch.html">نمونه تصویر </a></li>
                                        <li>
                                            <a href="product-extended.html">اطلاعات گسترده </a>
                                        </li>
                                        <li><a href="product-without-sidebar.html">بدون نوار کناری </a></li>
                                        <li><a href="product-video.html">360<sup>درجه </sup>  ویدئو <span class="tip tip-new">جدید </span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">چیدمان محصول </a>
                                    <ul>
                                        <li><a href="product-default.html">پیشفرض <span class="tip tip-hot">داغ </span></a></li>
                                        <li><a href="product-vertical.html">شست عمودی </a></li>
                                        <li><a href="product-grid.html">تصاویر شبکه ای </a></li>
                                        <li><a href="product-masonry.html">ساختمانی </a></li>
                                        <li><a href="product-gallery.html">گالری </a></li>
                                        <li><a href="product-sticky-info.html">اطلاعات چسبناک </a></li>
                                        <li><a href="product-sticky-thumb.html">تصویر چسبناک </a></li>
                                        <li><a href="product-sticky-both.html">هردو چسبناک </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="vendor-dokan-store.html">فروشنده </a>
                            <ul>
                                <li>
                                    <a href="#">لیست فروشگاه </a>
                                    <ul>
                                        <li><a href="vendor-dokan-store-list.html">فهرست فروشگاه  1</a></li>
                                        <li><a href="vendor-wcfm-store-list.html">فهرست فروشگاه  2</a></li>
                                        <li><a href="vendor-wcmp-store-list.html">فهرست فروشگاه  3</a></li>
                                        <li><a href="vendor-wc-store-list.html">فهرست فروشگاه  4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">فروشگاه فروشنده </a>
                                    <ul>
                                        <li><a href="vendor-dokan-store.html">فروشگاه فروشنده  1</a></li>
                                        <li><a href="vendor-wcfm-store-product-grid.html">فروشگاه فروشنده  2</a></li>
                                        <li><a href="vendor-wcmp-store-product-grid.html">فروشگاه فروشنده  3</a></li>
                                        <li><a href="vendor-wc-store-product-grid.html">فروشگاه فروشنده  4</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">بلاگ </a>
                            <ul>
                                <li><a href="blog.html">کلاسیک </a></li>
                                <li><a href="blog-listing.html">لیستی </a></li>
                                <li>
                                    <a href="#">گرید </a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">شبکه 2 ستون</a></li>
                                        <li><a href="blog-grid-3cols.html">شبکه 3 ستون</a></li>
                                        <li><a href="blog-grid-4cols.html">شبکه 4ستون</a></li>
                                        <li><a href="blog-grid-sidebar.html">سایدبار شبکه ای </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">ساختمانی </a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.html">ساختمانی 2 ستون </a></li>
                                        <li><a href="blog-masonry-3cols.html">ساختمانی 3 ستون </a></li>
                                        <li><a href="blog-masonry-4cols.html">ساختمانی 4ستون </a></li>
                                        <li><a href="blog-masonry-sidebar.html">نوار کناری ساختمانی </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">ماسک </a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">ماسک وبلاگ گرید </a></li>
                                        <li><a href="blog-mask-masonry.html">ماسک وبلاگ ساختمانی </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="post-single.html">تک نوشته </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="about-us.html">صفحات </a>
                            <ul>

                                <li><a href="about-us.html">درباره ما </a></li>
                                <li><a href="become-a-vendor.html">فروشنده شوید </a></li>
                                <li><a href="contact-us.html">تماس با ما </a></li>
                                <li><a href="login.html">ورود </a></li>
                                <li><a href="faq.html">نقل و قل </a></li>
                                <li><a href="error-404.html">ارور 404</a></li>
                                <li><a href="coming-soon.html">به زودی </a></li>
                                <li><a href="wishlist.html">علاقه مندیها </a></li>
                                <li><a href="cart.html">سبد خرید </a></li>
                                <li><a href="checkout.html">پرداخت </a></li>
                                <li><a href="my-account.html">حساب من </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements.html">المنت ها </a>
                            <ul>
                                <li><a href="element-products.html">محصولات </a></li>
                                <li><a href="element-titles.html">عناوین </a></li>
                                <li><a href="element-typography.html">تایپوگرافی </a></li>
                                <li><a href="element-categories.html">دسته بندی محصول </a></li>
                                <li><a href="element-buttons.html">دکمه ها </a></li>
                                <li><a href="element-accordions.html">آکاردئون </a></li>
                                <li><a href="element-alerts.html">هشدار و اعلان</a></li>
                                <li><a href="element-tabs.html">زبانه ها </a></li>
                                <li><a href="element-testimonials.html">مشتریان </a></li>
                                <li><a href="element-blog-posts.html">پست های وبلاگ </a></li>
                                <li><a href="element-instagrams.html">اینستاگرام </a></li>
                                <li><a href="element-cta.html">دکمه اقدام تماس</a></li>
                                <li><a href="element-vendors.html">فروشندگان </a></li>
                                <li><a href="element-icon-boxes.html">آیکن باکس </a></li>
                                <li><a href="element-icons.html">آیکن ها </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="categories">
                    <ul class="mobile-menu">
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-tshirt2"></i>مدل
                            </a>
                            <ul>
                                <li>
                                    <a href="#">زنانه </a>
                                    <ul>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">تازه رسیده ها </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">پرفروش ترین ها </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">پر طرفدار </a></li>
                                        <li><a href="shop-fullwidth-banner.html">تن پوش </a></li>
                                        <li><a href="shop-fullwidth-banner.html">کفش ها </a></li>
                                        <li><a href="shop-fullwidth-banner.html">کیسه ها </a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">تجهیزات جانبی </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                جواهر و
                                                ساعت
                                            </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">ویژه </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">زنانه </a>
                                    <ul>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">تازه رسیده ها </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">پرفروش ترین ها </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">پر طرفدار </a></li>
                                        <li><a href="shop-fullwidth-banner.html">تن پوش </a></li>
                                        <li><a href="shop-fullwidth-banner.html">کفش ها </a></li>
                                        <li><a href="shop-fullwidth-banner.html">کیسه ها </a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">تجهیزات جانبی </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                جواهر و
                                                ساعت
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-home"></i>خانه و باغ
                            </a>
                            <ul>
                                <li>
                                    <a href="#">اتاق خواب </a>
                                    <ul>
                                        <li><a href="shop-fullwidth-banner.html">تخت، قاب و پایه</a></li>
                                        <li><a href="shop-fullwidth-banner.html">کمد </a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html"> میزهای خواب </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">تخت و تخت کودک</a></li>
                                        <li><a href="shop-fullwidth-banner.html">اسلحه </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">هال </a>
                                    <ul>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">میز های قهوه </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">صندلی </a></li>
                                        <li><a href="shop-fullwidth-banner.html">جداول </a></li>
                                        <li><a href="shop-fullwidth-banner.html">فوتون و مبل تختخواب شو</a></li>
                                        <li><a href="shop-fullwidth-banner.html">کابینت و صندوقچه</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">دفتر </a>
                                    <ul>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">صندلی های اداری </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">میز </a></li>
                                        <li><a href="shop-fullwidth-banner.html">قفسه های کتاب </a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">قفسه پوشه ها </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                اتاق استراحت
                                                جداول
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">آشپزخانه و غذاخوری</a>
                                    <ul>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">ست های غذاخوری </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">کابینت های نگهداری آشپزخانه</a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">قفسه های بشرز </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">صندلی های غذاخوری </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">اتاق غذاخوری جداول </a></li>
                                        <li><a href="shop-fullwidth-banner.html">چهارپایه بار </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-electronics"></i>الکترونیک
                            </a>
                            <ul>
                                <li>
                                    <a href="#">لپ تاپ و کامپیوتر</a>
                                    <ul>
                                        <li><a href="shop-fullwidth-banner.html">کامپیوترهای رومیزی</a></li>
                                        <li><a href="shop-fullwidth-banner.html">مانیتور </a></li>
                                        <li><a href="shop-fullwidth-banner.html">لپ تاپ </a></li>
                                        <li><a href="shop-fullwidth-banner.html">هارد دیسک و فضای ذخیره سازی</a></li>
                                        <li><a href="shop-fullwidth-banner.html">کامپیوتر تجهیزات جانبی </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">تلویزیون و ویدئو</a>
                                    <ul>
                                        <li><a href="shop-fullwidth-banner.html">تلویزیون ها </a></li>
                                        <li><a href="shop-fullwidth-banner.html">بلندگوهای صوتی خانگی</a></li>
                                        <li><a href="shop-fullwidth-banner.html">پروژکتورها </a></li>
                                        <li><a href="shop-fullwidth-banner.html">دستگاه های پخش رسانه</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">دوربین های دیجیتال</a>
                                    <ul>
                                        <li><a href="shop-fullwidth-banner.html">دوربین های دیجیتال SLR</a></li>
                                        <li><a href="shop-fullwidth-banner.html">دوربین های ورزشی و اکشن</a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">لنزهای دوربین  </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">چاپگر عکس </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">کارت های حافظه دیجیتال</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">تلفن های همراه </a>
                                    <ul>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">تلفن های حامل </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">گوشی های قفل نشده </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">قاب های گوشی و موبایل</a></li>
                                        <li><a href="shop-fullwidth-banner.html">شارژر تلفن همراه</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-furniture"></i> مبلمان
                            </a>
                            <ul>
                                <li>
                                    <a href="#">مبلمان </a>
                                    <ul>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">مبل و کاناپه</a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">صندلی </a></li>
                                        <li><a href="shop-fullwidth-banner.html">چارچوب های تخت </a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">میزهای کنار تخت </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">میز آرایش</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">نورپردازی </a>
                                    <ul>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">لامپ </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">لامپ ها </a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">چراغ های سقفی </a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">چراغ های دیواری </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">حمام نورپردازی </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">خانه تجهیزات جانبی </a>
                                    <ul>
                                        <li><a href="shop-fullwidth-banner.html">تجهیزات جانبی تزئینی </a></li>
                                        <li><a href="shop-fullwidth-banner.html">شمع و نگهدارنده</a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">عطر خانگی </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">آینه </a></li>
                                        <li><a href="shop-fullwidth-banner.html">ساعت ها </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">باغ و فضای باز</a>
                                    <ul>
                                        <li><a href="shop-fullwidth-banner.html">مبلمان باغ </a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">ماشین های چمن زنی </a>
                                        </li>
                                        <li><a href="shop-fullwidth-banner.html">واشرهای تحت فشار</a></li>
                                        <li><a href="shop-fullwidth-banner.html">تمام ابزار باغبانی</a></li>
                                        <li>
                                            <a href="shop-fullwidth-banner.html">غذاخوری در فضای باز</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-heartbeat"></i>سلامت و زیبایی
                            </a>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-gift"></i>ایده های هدیه
                            </a>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-gamepad"></i>اسباب بازی و بازی
                            </a>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-ice-cream"></i>آشپزی
                            </a>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-ios"></i>گوشی های هوشمند
                            </a>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-camera"></i>دوربین و عکس
                            </a>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-ruby"></i>تجهیزات جانبی
                            </a>
                        </li>
                        <li>
                            <a href="shop-banner-sidebar.html" class="font-weight-bold text-primary text-uppercase ls-25">
                                نمایش همه دسته بندیها <i class="w-icon-angle-left"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Mobile Menu -->
    <!-- Plugin JS File -->
    <script src="~/asset/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/asset/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/asset/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/asset/assets/js/main.min.js"></script>
</body>


</html>