 <nav class="breadcrumb-nav">
 <div class="container">
    <ul class="breadcrumb bb-no">
        <li><a href="demo11.html">خانه </a></li>
        <li>فروشگاه</li>
    </ul>
 </div>
</nav>
<!-- End of Breadcrumb-nav -->

<div class="page-content pb-3">
    <div class="container">
       
        <!-- Start of Shop Content -->
        <div class="shop-content toolbox-horizontal">
            <!-- Start of Toolbox -->
            <nav class="toolbox sticky-toolbox sticky-content fix-top">
                <div class="toolbox-left mr-0">
                    <div class="toolbox-item toolbox-sort select-menu">
                        <a href="#" class="btn btn-primary btn-outline btn-rounded left-sidebar-toggle
                                        btn-icon-left d-block d-lg-none mb-0">
                            <i class="w-icon-category"></i><span>فیلتر ها </span>
                        </a>
                        <select name="orderby" class="form-control">
                            <option value="default" selected="selected">مرتب سازی پیش فرض </option>
                            <option value="popularity">مرتب سازی با اساس محبوبیت </option>
                            <option value="rating">مرتب سازی با اساس میانگین امتیاز </option>
                            <option value="date">مرتب سازی با اساس اخیر </option>
                            <option value="price-low">مرتب سازی با اساس قیمت پایین به بالا</option>
                            <option value="price-high">مرتب سازی با اساس قیمت بالا به پایین</option>
                        </select>
                    </div>
                </div>
                <div class="toolbox-right">
                    <div class="toolbox-item toolbox-show select-box mr-0">
                        <select name="count" class="form-control">
                            <option value="12">نمایش 12</option>
                            <option value="24">نمایش 24</option>
                            <option value="36">نمایش 36</option>
                        </select>
                    </div>
                    <div class="toolbox-item toolbox-layout">
                        <a href="shop-horizontal-filter.html" class="icon-mode-grid btn-layout active">
                            <i class="w-icon-grid"></i>
                        </a>
                        <a href="shop-list.html" class="icon-mode-list btn-layout">
                            <i class="w-icon-list"></i>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- End of Toolbox -->
            <!-- Start of Selected Items -->
            <div class="selected-items mb-3">
                <a href="#" class="filter-clean text-primary">پاک کردن همه </a>
            </div>
            <!-- End of Selected Items -->
            <!-- Start of Product Wrapper -->
            <div class="product-wrapper row cols-xl-6 cols-lg-4 cols-sm-3 cols-2 mb-4">
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/2-1-1.jpg" alt="Product"
                                     width="300" height="338">
                                <img src="assets/images/demos/demo11/products/2-1-2.jpg" alt="Product"
                                     width="300" height="338">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">کیف مدرسه سفید</a></h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(3 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">58000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/2-2-1.jpg" alt="Product"
                                     width="300" height="338">
                                <img src="assets/images/demos/demo11/products/2-2-2.jpg" alt="Product"
                                     width="300" height="338">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">تسلی دهنده زنانه</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 80%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(8 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">58000 تومان</ins><del class="old-price">99000 تومان</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/2-3-1.jpg" alt="Product"
                                     width="300" height="338">
                                <img src="assets/images/demos/demo11/products/2-3-2.jpg" alt="Product"
                                     width="300" height="338">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                            <div class="product-label-group">
                                <label class="product-label label-hot">داغ </label>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">کفش آموزشی آبی </a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 60%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(6 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">96000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/2-4-1.jpg" alt="Product"
                                     width="300" height="338">
                                <img src="assets/images/demos/demo11/products/2-4-2.jpg" alt="Product"
                                     width="300" height="338">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                            <div class="product-label-group">
                                <label class="product-label label-discount">1% تخفیف </label>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">فراتر از پیراهن OTP</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(3 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">96000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/3-1-1.jpg" alt="Product"
                                     width="300" height="338">
                                <img src="assets/images/demos/demo11/products/3-1-2.jpg" alt="Product"
                                     width="300" height="338">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                            <div class="product-label-group">
                                <label class="product-label label-hot">داغ </label>
                                <label class="product-label label-discount">9% تخفیف </label>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">کیف مدرسه سفید</a></h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(3 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">58000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/3-2-1.jpg" alt="Product"
                                     width="300" height="338">
                                <img src="assets/images/demos/demo11/products/3-2-2.jpg" alt="Product"
                                     width="300" height="338">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">تسلی دهنده زنانه</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 80%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(8 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">58000 تومان</ins><del class="old-price">99000 تومان</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/3-3-1.jpg" alt="Product"
                                     width="300" height="338">
                                <img src="assets/images/demos/demo11/products/3-3-2.jpg" alt="Product"
                                     width="300" height="338">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                            <div class="product-label-group">
                                <label class="product-label label-new">جدید </label>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">کفش آموزشی آبی </a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 60%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(6 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">96000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/3-4-1.jpg" alt="Product"
                                     width="300" height="338">
                                <img src="assets/images/demos/demo11/products/3-4-2.jpg" alt="Product"
                                     width="300" height="338">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">فراتر از پیراهن OTP</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(3 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">96000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/3-1-1.jpg" alt="Product"
                                     width="300" height="337">
                                <img src="assets/images/demos/demo11/products/3-1-2.jpg" alt="Product"
                                     width="300" height="337">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">کیف مدرسه سفید</a></h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(3 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">58000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/4-2-1.jpg" alt="Product"
                                     width="300" height="337">
                                <img src="assets/images/demos/demo11/products/4-2-2.jpg" alt="Product"
                                     width="300" height="337">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">تسلی دهنده زنانه</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 80%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(8 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">58000 تومان</ins><del class="old-price">99000 تومان</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/4-3-1.jpg" alt="Product"
                                     width="300" height="337">
                                <img src="assets/images/demos/demo11/products/4-3-2.jpg" alt="Product"
                                     width="300" height="337">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                            <div class="product-label-group">
                                <label class="product-label label-new">جدید </label>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">کفش آموزشی آبی </a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 60%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(6 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">96000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="assets/images/demos/demo11/products/4-4-1.jpg" alt="Product"
                                     width="300" height="337">
                                <img src="assets/images/demos/demo11/products/4-4-2.jpg" alt="Product"
                                     width="300" height="337">
                            </a>
                            <div class="product-action-horizontal">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="افزودن به سبد "></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="علاقه مندیها"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="مقایسه"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="نمایش سریع"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="product-default.html">فراتر از پیراهن OTP</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(3 نظر )</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">96000 تومان</ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrapper -->
            <!-- Start of Pagination -->
            <div class="toolbox toolbox-pagination justify-content-between">
                <p class="showing-info mb-2 mb-sm-0">
                    نمایش <span>1-12 از 60</span>محصولات
                </p>
                <ul class="pagination">
                    <li class="prev disabled">
                        <a href="#" aria-label="قبلی" tabindex="-1" aria-disabled="true">
                            <i class="w-icon-long-arrow-right"></i>قبلی
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="next">
                        <a href="#" aria-label="بعدی">
                            بعدی <i class="w-icon-long-arrow-left"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End of Pagination -->
        </div>
        <!-- Start of Sidebar, Shop Sidebar -->
        <aside class="sidebar shop-sidebar left-sidebar sticky-sidebar-wrapper">
            <!-- Start of Sidebar Overlay -->
            <div class="sidebar-overlay"></div>
            <a class="sidebar-close" href="#"><i class="close-icon"></i></a>

            <!-- Start of Sidebar Content -->
            <div class="sidebar-content scrollable">
                <div class="filter-actions">
                    <label>فیلتر  :</label>
                    <a href="#" class="btn btn-dark btn-link filter-clean">پاک کردن همه </a>
                </div>
                <!-- Start of Collapsible widget -->
                <div class="widget widget-collapsible">
                    <h3 class="widget-title"><span>تمام دسته بندیها</span></h3>
                    <ul class="widget-body filter-items search-ul">
                        <li><a href="#">تجهیزات جانبی </a></li>
                        <li><a href="#">نوزادان </a></li>
                        <li><a href="#">زیبایی </a></li>
                        <li><a href="#">تزیین </a></li>
                        <li><a href="#">الکترونیکی </a></li>
                        <li><a href="#">مد </a></li>
                        <li><a href="#">غذا </a></li>
                        <li><a href="#">مبلمان </a></li>
                        <li><a href="#">آشپزخانه </a></li>
                        <li><a href="#">مدیکال </a></li>
                        <li><a href="#">ورزشی </a></li>
                        <li><a href="#">ساعت </a></li>
                    </ul>
                </div>
                <!-- End of Collapsible Widget -->
                <!-- Start of Collapsible Widget -->
                <div class="widget widget-collapsible">
                    <h3 class="widget-title"><span>قیمت </span></h3>
                    <div class="widget-body">
                        <ul class="filter-items search-ul">
                            <li><a href="#">0 - 99000 تومان</a></li>
                            <li><a href="#">100000 - 500000 تومان</a></li>
                            <li><a href="#">500000 - 1000000 تومان</a></li>
                            <li><a href="#">1000000 - 5000000 تومان</a></li>
                            <li><a href="#">5000000 تومان +</a></li>
                        </ul>
                        <form class="price-range">
                            <input type="number" name="min_price" class="min_price text-center"
                                   placeholder="$min"><span class="delimiter">-</span><input type="number"
                                                                                             name="max_price" class="max_price text-center" placeholder="$max"><a href="#" class="btn btn-primary btn-rounded">برو </a>
                        </form>
                    </div>
                </div>
                <!-- End of Collapsible Widget -->
                <!-- Start of Collapsible Widget -->
                <div class="widget widget-collapsible">
                    <h3 class="widget-title"><span>سایز </span></h3>
                    <ul class="widget-body filter-items item-check mt-1">
                        <li><a href="#">خبلی بزرگ </a></li>
                        <li><a href="#">بزرگ </a></li>
                        <li><a href="#">متوسط </a></li>
                        <li><a href="#">کوچک </a></li>
                    </ul>
                </div>
                <!-- End of Collapsible Widget -->
                <!-- Start of Collapsible Widget -->
                <div class="widget widget-collapsible">
                    <h3 class="widget-title"><span>برند </span></h3>
                    <ul class="widget-body filter-items item-check mt-1">
                        <li><a href="#">گروه خودرو زیبا </a></li>
                        <li><a href="#">علف سبز </a></li>
                        <li><a href="#">Node Js</a></li>
                        <li><a href="#">NS8</a></li>
                        <li><a href="#">Red</a></li>
                        <li><a href="#">Skysuite Tech</a></li>
                        <li><a href="#">Sterling</a></li>
                    </ul>
                </div>
                <!-- End of Collapsible Widget -->
                <!-- Start of Collapsible Widget -->
                <div class="widget widget-collapsible">
                    <h3 class="widget-title"><span>رنگ </span></h3>
                    <ul class="widget-body filter-items item-check">
                        <li><a href="#">سیاه</a></li>
                        <li><a href="#">آبی</a></li>
                        <li><a href="#">قهوه ای</a></li>
                        <li><a href="#">سبز </a></li>
                        <li><a href="#">خاکستری </a></li>
                        <li><a href="#">نارنجی </a></li>
                        <li><a href="#">زرد </a></li>
                    </ul>
                </div>
                <!-- End of Collapsible Widget -->
            </div>
            <!-- End of Sidebar Content -->
        </aside>
        <!-- End of Shop Sidebar -->
        <!-- End of Shop Content -->
    </div>
</div>